go 1.22

use (
	./01-foundations/01-variables
	./01-foundations/02-functions
	./01-foundations/03-errors
	./01-foundations/04-slices-maps
	./01-foundations/05-structs-methods
	./02-interfaces/01-basics
	./02-interfaces/02-composition
	./02-interfaces/03-io-contracts
	./02-interfaces/04-type-assertions
	./02-interfaces/05-custom-errors
	./03-stdlib/01-strings-fmt
	./03-stdlib/02-file-io
	./03-stdlib/03-http-client
	./03-stdlib/04-json
	./03-stdlib/05-context
)
